<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vision.edu.mapper.system.SysPrincipalMailboxMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.vision.edu.entity.system.SysPrincipalMailbox">
		<id column="id" property="id" />
		<result column="father_id" property="fatherId" />
		<result column="sender_id" property="senderId" />
		<result column="recipient_id" property="recipientId" />
		<result column="sender_type" property="senderType" />
		<result column="letter_content" property="letterContent" />
		<result column="images" property="images" />
		<result column="create_time" property="createTime" />
		<result column="see_time" property="seeTime" />
		<result column="state" property="state" />
		<result column="delete_flag" property="deleteFlag" />
	</resultMap>

</mapper>
