<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vision.edu.mapper.system.SysSystemLogMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.vision.edu.entity.system.SysSystemLog">
		<result column="school_id" property="schoolId" />
		<result column="operator_id" property="operatorId" />
		<result column="create_time" property="createTime" />
		<result column="execution_method" property="executionMethod" />
	</resultMap>

</mapper>
