<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vision.edu.mapper.member.MemPraiseMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.vision.edu.entity.member.MemPraise">
		<id column="id" property="id" />
		<result column="member_id" property="memberId" />
		<result column="create_time" property="createTime" />
		<result column="praise_type" property="praiseType" />
		<result column="source_id" property="sourceId" />
		<result column="cancel_no" property="cancelNo" />
		<result column="update_time" property="updateTime" />
		<result column="update_man" property="updateMan" />
		<result column="delete_flag" property="deleteFlag" />
	</resultMap>

</mapper>
